extends layout-admin

block content
  .container
    .edit
      h2 Skapa nytt varumärke
      form(action="", method="POST")
        
        .form-group.row
          .col-md-6
            select.selectpicker.btn-info(name="category")
              option(type="text", selected="selected") Välj Kategori
              option(type="text", value="Klippning") Klippning
              option(type="text", value="Färgning") Färgning
              option(type="text", value="Permanent") Permanent
              option(type="text", value="Folieslingor") Folieslingor
              option(type="text", value="Fransar&Bryn") Fransar&Bryn
              option(type="text", value="Slingor i hätta") Slingor i hätta
              option(type="text", value="Håltagning Öron") Håltagning Öron
            //- p
            //-   label(for='type') Kategori
            //-   input.form-control(type="text", name="category")
            p
              label(for='title') Namn
              input.form-control(type="text", name="title")
            p
              label(for='text') Pris
                span.price  (Du behöver inte ange kr)
              input.form-control(type="text", name="text")
              input.form-control(type="hidden", name="type", value="products")
              input.form-control(type="hidden", name="id", value="newProducts")
        input.btn.btn-large.btn-success(type="submit", id="saveBlog", value="Spara")
